
<div class="friends-container">
    <p>In SuitUp you can create actions and make things move</p>
    <div class="button col-30" {{{action "listFriends"}}}>Toggle friends</div>
    <div class="friends-list" style="display:none">
        <ul>
            {{#each model.friends}}
                <li>{{{link (concat "/friend/" this.id) this.name this.name}}}</li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="friends-container">
    <p>Inputs, buttons or divs respond to changes using the reactive helper. Try to write some html in this html editor.</p>
    <textarea class="reactive-input col-40 left" {{{modelVar "text"}}} value="{{model.text}}"></textarea>
    <div class="reactive-output col-40 right">{{model.text}}</div>
</div>